.cover__link {
  min-height: 740px;
  color: #FFFFFF;
  background-image: url("../../../images/cover-trains.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
}

.cover__link::before{
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}

.cover__link:hover::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}

@media all and (max-width: 1024px) {
  .cover__link {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media all and (max-width: 768px) {
  .cover__link {
    max-width: 768px;
    min-height: 480px;
  }
}

@media (max-width: 320px) {
  .cover__link {
    max-width: 320px;
    min-height: 200px;
  }
}
