.header__lang-link_en {
  text-decoration: none;
  max-width: 29px;
  font-size: 1.5rem;
  line-height: 1.17;
}

@media (max-width: 320px) {
  .header__lang-link_en {
    font-size: 1.12rem;
    line-height: 1.11;
  }
}