.place__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 163%;
  color: #FFFFFF;
  margin: 0;
}

@media all and  (max-width: 768px) {
  .place__paragraph {
    font-size: 1rem;
  }
}

@media all and (max-width: 320px) {
  .place__paragraph {
    margin: 0 16px;
    font-size: 1rem;
  }
}