.lead__subtitle {
    width: 640px;
    text-align: center;
    margin: 0 320px 0;
    padding: 32px 0 64px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}