.cover__title {
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1.06;
  text-align: center;
  position: relative;
}

@media all and (min-width: 321px) and (max-width: 450px){
  .cover__title {
    max-width: 288px;
    font-size: 2rem;
    line-height: 1.09;
  }
}


@media all and (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    font-size: 2rem;
    line-height: 1.09;
  }
}