.cover__title {
  max-width: 560px;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1.06;
  text-align: center;
  position: relative;
}

@media all and (min-width: 320px) and (max-width: 767px){
  .cover__title {
    max-width: 288px;
    font-size: 2rem;
    line-height: 1.09;
  }
}