.place {
  max-width: 984px;
  margin: 0 auto;
  padding-top: 80px;
  display: grid;
  grid-template-columns: 49% 1fr;
  grid-template-areas: 
  "title website"
  "image text";
  gap: 40px;
  row-gap: 48px;
}


@media all and (max-width: 1024px) {
  .place {
    max-width: 928px;
    gap: 32px;
  }
}

@media all and (max-width: 768px) {
  .place {
    max-width: 720px;
    gap: 28px;
  }
}

@media all and (max-width: 560px) {
  .place {
    margin: auto;
    grid-template-columns: 60%;
    justify-content: center;
    grid-template-areas: 
    "title" 
    "website"
    "image"
    "text";
    gap: 30px;
  }
}


@media all and (max-width: 320px) {
  .place {
    max-width: 320px;
    margin: 0;
    padding-top: 50px;
    grid-template-columns: 320px;
    grid-template-areas: 
    "title" 
    "website"
    "image"
    "text";
    gap: 32px;
  }
}
