.place {
  max-width: 984px;
  margin: 0 148px 0;
  padding-top: 80px;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-areas: 
  "title website"
  "image text";
  gap: 40px;
  row-gap: 48px;
}


@media all and (min-width: 769px) and (max-width: 1024px) {
  .place {
    max-width: 928px;
    margin: 0 48px 0;
    grid-template-columns: 440px 1fr;
    grid-template-areas: 
    "title website"
    "image text";
    gap: 32px;
  }
}

@media all and (min-width: 600px) and (max-width: 768px) {
  .place {
    max-width: 720px;
    margin: 0 24px 0;
    grid-template-columns: 340px 1fr;
    grid-template-areas: 
    "title website"
    "image text";
    gap: 28px;
  }
}

@media all and (min-width: 321px) and (max-width: 599px) {
  .place {
    max-width: 676px;
    margin: 0 16px 0;
    padding-top: 50px;
    grid-template-columns: 320px 1fr;
    grid-template-areas: 
    "title" 
    "website"
    "image"
    "text";
    gap: 32px;
  }
}

@media all and (min-width: 250px) and (max-width: 320px) {
  .place {
    max-width: 320px;
    margin: 0;
    padding-top: 50px;
    grid-template-columns: 320px 1fr;
    grid-template-areas: 
    "title" 
    "website"
    "image"
    "text";
    gap: 32px;
  }
}
